* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary-dark: #19544b;
  --color-light-gray: #959595;
}

html, body {
  font-family: 'Open Sans', sans-serif ;
}

html {
  font-size: 62.5%;
  min-width: 100%;
  scroll-behavior: smooth;
}

@media screen and (min-width: 900px) {
  html {
      font-size: 87.5%;
  }
}

.pb-sm {
  padding-bottom: 1rem;
}

@font-face {
  src: url("/public/fonts/NimbusRomNo9L.ttf");
  font-family: 'NimbusRomNo9L';
  font-weight: 400;
  font-style: normal;
}